* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #223b74;
    color: white;
}

.container {
    width: 90%;
    max-width: 700px;
}

.table {
    display: flex;
    flex-direction: column;
    border: 1px solid #3a4e88;
}

.table-header, .table-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #3a4e88;
}

.table-header {
    background-color: #2a468b;
    font-weight: bold;
}

.table-row {
    background-color: #324f94;
}

.column {
    padding: 5px;
    text-align: center;
}

.column.number {
    width: 5%;
}

.column.name {
    width: 20%;
    text-align: left;
}

.column.letters {
    width: 50%;
    text-align: left;
}

.column.glyphs {
    width: 25%;
    text-align: left;
}